body
{
    background: #fff fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container
{
    width: 400px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 120px;
    box-shadow: 0 1px 10px rgb(10, 118, 190);
    
}

.header
{
    color: #fff;
    background: linear-gradient(35deg, #00ffb3, #398dfa);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 20px 0;
}

.form-login
{
    padding: 30px 40px;
}

.form-input
{
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;

}

.form-input input::placeholder
{
    color: #398dfa;
    opacity: 0.6;
    font-size: small;
    font-weight: 400;
}

.form-input input[type=text],[type=email],[type=password]
{
    color: #398dfa;
    font-weight: 600;
}


.form-input input
{
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid  #398dfa;
   
}

.form-input input:active
{
    outline: none;
}

.form-input input:focus
{
    box-shadow: 0 0 8px #398dfa;
    outline: none;
}

.form-input.error input
{
    border: 1px solid red;
    box-shadow: 0 0 8px red;
    outline: none;
}

.form-input label
{
    display: block;
    font-size: 14px;
    margin: 3px;
    font-weight: 500;
    color: rgb(0, 154, 243);
    
}

small
{
    visibility: hidden;
}

.form-input button
{
    color: #fff;
    background: linear-gradient(35deg, #398dfa, #00ffb3 );
    border: none;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0px;
    width: 100%;
    margin-top: 20px;

}

.form-input button:hover
{
    opacity: 0.9;
    cursor: pointer;
}

.form-input button:focus
{
    border: none;
    outline: none;
}

.msg
{
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}